In [ ]:
Introduction to DataFrames ----->Pandas continuation

In [1]:
import numpy as np
import pandas as pd

In [ ]:
Series ---> was a one dimensional structure capable of handling a single dimensional data(liner data)



What is a DataFrame: is a two dimensional data structure which is capable of applying the operations of rows and columns.

In [ ]:
Sytax:
    pd.DataFrame(data,index,columns,dtype) **

In [ ]:
creating DataFrame:
    
    --lists
    --dict
    --Series
    --numpy ndarrays
    --Another df

In [ ]:
creating an empty DataFrame:

In [2]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
creating a df with a list.

In [3]:
data = [1,2,3,4,5]

df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
data = [['ashok',55],['devi',60],['ranga',60],['akbar',58]]

df = pd.DataFrame(data,columns=['Name','Balances'], dtype=float)

print(df)

    Name  Balances
0  ashok      55.0
1   devi      60.0
2  ranga      60.0
3  akbar      58.0

In [ ]:
creating a df from a dict of ndarrays

In [6]:
key-value pair --->keys--will be considered as the cols name***

data = {'Name':['Tousif','aitya','hemma','sandeep'],'Creditscore':[28,33,42,56]}

df = pd.DataFrame(data)

print(df)

      Name  Creditscore
0   Tousif           28
1    aitya           33
2    hemma           42
3  sandeep           56

In [7]:
data = {'Name':['Tousif','aitya','hemma','sandeep'],'Creditscore':[28,33,42,56]}

df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])

print(df)

          Name  Creditscore
rank1   Tousif           28
rank2    aitya           33
rank3    hemma           42
rank4  sandeep           56