In [ ]:
#Day4#B12

In [ ]:
#Adding, changing and removing elements from a list

In [4]:
my_students = ['divya', 'srinivas', 'ranga', 'akbar', 'vinod']
print(my_students)

['divya', 'srinivas', 'ranga', 'akbar', 'vinod']

In [5]:
#how to add elements to list

my_students.append('geetha') ## .append adds the element at the end of the list.
print(my_students)

['divya', 'srinivas', 'ranga', 'akbar', 'vinod', 'geetha']

In [7]:
#req: add a new student at index1 --->

my_students[1] = 'harsha'

print(my_students)

['divya', 'harsha', 'ranga', 'sireesha', 'akbar', 'vinod', 'geetha']

In [6]:
# inserting the element into a list at index 3

my_students.insert(3, 'sireesha')

print(my_students) # 7 elements

['divya', 'srinivas', 'ranga', 'sireesha', 'akbar', 'vinod', 'geetha']

In [9]:
# How to remove elements from the list:
print(my_students)

['divya', 'harsha', 'ranga', 'sireesha', 'akbar', 'vinod', 'geetha']

In [31]:
#Req: Remove divya from the list

del my_students[3]   
print(my_students)

['divya', 'ranga', 'sireesha']

In [16]:
# Removing the elements by using pop() method
#it will be mainting a carbon copy of the deleted items

my_students.pop()
print(my_students)

['divya', 'harsha', 'ranga', 'sireesha', 'akbar', 'vinod']

In [17]:
my_students.pop(1)
print(my_students)

['divya', 'ranga', 'sireesha', 'akbar', 'vinod']

In [18]:
## Organising a list

students = ['liam', 'rui', 'bill', 'mike', 'ranga', 'vivek', 'zakir']

print(students)

['liam', 'rui', 'bill', 'mike', 'ranga', 'vivek', 'zakir']

In [19]:
# Req: organizing the list in alphabetic order.

students.sort()  ## sorted A-Z, this sort is permanent sort, we can't go back to original order

print(students)

['bill', 'liam', 'mike', 'ranga', 'rui', 'vivek', 'zakir']

In [21]:
print(students)

['bill', 'liam', 'mike', 'ranga', 'rui', 'vivek', 'zakir']

In [22]:
# Req: Temporary sorting we need and list has to go back to orginial order

students2 = ['Dale', 'Greg', 'Rob', 'Amit', 'Ken', 'vidya', 'hema']

print(students2)

['Dale', 'Greg', 'Rob', 'Amit', 'Ken', 'vidya', 'hema']

In [23]:
print('here is the sorted list:')

print(sorted(students2))  ## sorted method is for temporary sort

here is the sorted list:
['Amit', 'Dale', 'Greg', 'Ken', 'Rob', 'hema', 'vidya']

In [24]:
print(students2)

['Dale', 'Greg', 'Rob', 'Amit', 'Ken', 'vidya', 'hema']

In [26]:
del students2[2]
print(students2)

['Dale', 'Greg', 'Amit', 'Ken', 'vidya', 'hema']

In [32]:
students2.pop()

'hema'

In [33]:
print(students2)

['Dale', 'Greg', 'Amit', 'Ken', 'vidya']

In [36]:
studnts2.append('hema')

print(students2)

['Dale', 'Greg', 'Amit', 'Ken', 'vidya', 'hema']

In [42]:
students2.insert(0, 'Ranga') ## executed multiple times 

print(students2)

['Ranga', 'Ranga', 'Ranga', 'Ranga', 'Ranga', 'Dale', 'Greg', 'Amit', 'Ken', 'vidya', 'hema']

In [48]:
students2.pop(0)

'Ranga'

In [49]:
print(students2)

['Ranga', 'Dale', 'Greg', 'Amit', 'Ken', 'vidya', 'hema']

In [50]:
print(sorted(students2))

['Amit', 'Dale', 'Greg', 'Ken', 'Ranga', 'hema', 'vidya']

In [51]:
print(students2)

['Ranga', 'Dale', 'Greg', 'Amit', 'Ken', 'vidya', 'hema']

In [52]:
del students2[4]
print(students2)

['Ranga', 'Dale', 'Greg', 'Amit', 'vidya', 'hema']

In [53]:
a = 5
b = 10
c = a + b

print(f'sum of {a} and {b} is: {c}')

sum of 5 and 10 is: 15

In [54]:
d = a**a
print(f'{a} power {a} is: {d}')

5 power 5 is: 3125

In [55]:
print(a, 'power', a, 'is:', d)

5 power 5 is: 3125

In [58]:
list1 = [10,12,8,6,12,15,7,2,1,5]

print(sorted(list1))

[1, 2, 5, 6, 7, 8, 10, 12, 12, 15]

In [59]:
print(list1)

[10, 12, 8, 6, 12, 15, 7, 2, 1, 5]

In [60]:
list1.insert(0,1)
print(list1)

[1, 10, 12, 8, 6, 12, 15, 7, 2, 1, 5]

In [62]:
list1.append(2)
print(list1)

[1, 10, 12, 8, 6, 12, 15, 7, 2, 1, 5, 2, 2]

In [64]:
del list1[12]
print(list1)

[1, 10, 12, 8, 6, 12, 15, 7, 2, 1, 5, 2]