In [ ]:
Introduction to for loops:

In [1]:
my_students = ['bhavani', 'zakir','ranga','divya','srinivas','suresh','mohan']

print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [2]:
type(my_students)

list

In [ ]:
# writing a for loop:

for ---> temp var and then main variable  --->take care of the indentation:
    print(tem var)
    iteration -->

In [3]:
for student in my_students:
    print(student)

bhavani
zakir
ranga
divya
srinivas
suresh
mohan

In [9]:
students2 = ['x','y','z']

In [10]:
for x in students2:
    print(x)

x
y
z

In [ ]:
## enhancment of the foor loop:

#automating the print statements.

In [7]:
my_students = ['bhavani', 'zakir','ranga','divya','srinivas','suresh','mohan']

print(my_students)

['bhavani', 'zakir', 'ranga', 'divya', 'srinivas', 'suresh', 'mohan']

In [ ]:
#Req: automate the print statement for everyone!

In [11]:
for a in my_students:
    print(f"{a.title()}, good job for completing the practice regularly!!")

Bhavani, good job for completing the practice regularly!!
Zakir, good job for completing the practice regularly!!
Ranga, good job for completing the practice regularly!!
Divya, good job for completing the practice regularly!!
Srinivas, good job for completing the practice regularly!!
Suresh, good job for completing the practice regularly!!
Mohan, good job for completing the practice regularly!!

In [12]:
new_students = ["harsha",'krishna','sireesha','vijaya','sahil','poojitha']

print(new_students)

['harsha', 'krishna', 'sireesha', 'vijaya', 'sahil', 'poojitha']

In [13]:
for student in new_students:
    print(f"Thanks for joining the sesssion on time,{student.title()}")

Thanks for joining the sesssion on time,Harsha
Thanks for joining the sesssion on time,Krishna
Thanks for joining the sesssion on time,Sireesha
Thanks for joining the sesssion on time,Vijaya
Thanks for joining the sesssion on time,Sahil
Thanks for joining the sesssion on time,Poojitha

In [15]:
#further enhancements of the code:

for student in new_students:
    print(f"Thanks for joining the sesssion on time,{student.title()}")
print('\nThanks everyone for showing intrest in learning python')

Thanks for joining the sesssion on time,Harsha
Thanks for joining the sesssion on time,Krishna
Thanks for joining the sesssion on time,Sireesha
Thanks for joining the sesssion on time,Vijaya
Thanks for joining the sesssion on time,Sahil
Thanks for joining the sesssion on time,Poojitha

Thanks everyone for showing intrest in learning python

In [16]:
#making a numerical list:

#last value in the range is always exclusive

for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [18]:
#how to use the range to make a list of numbers

numbers = list(range(1,31))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
# range is also having step count validation:

In [20]:
#req: want to print only even numbers from 1, 50 by using the range:

even_num = list(range(2,51,2))

print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [32]:
#req: want to print only  odd numbers from 1, 50:

numbers = list(range(1,51))

for num in numbers:
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [34]:
#req: want to print only even numbers from 1, 50:

numbers = list(range(1,51))

for num in numbers:
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [35]:
#req: want to print only odd numbers from 1, 50 by using the range:

odd_num = list(range(1,51,2))

print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [40]:
#req: Read number from keyboard and print all even numbers

max_num = int(input("please Enter any Maximum Number"))

for number in range(2,max_num + 1,2):
    print(number, end = ' ')

please Enter any Maximum Number12
2 4 6 8 10 12