In [ ]:
# Introduction to list slicing!

In [1]:
my_students = ['devi','ranga','aditya','divya','srinivas'] # indexes 0,1,2,3,4

print(my_students)

['devi', 'ranga', 'aditya', 'divya', 'srinivas']

In [2]:
type(my_students)

list

In [ ]:
#Req: 
devi, ranga,aditya ---> 1 division --> to be included
divya and srinivas --> 2 division --> to be included

In [3]:
#solution:

print(my_students[0:3])

['devi', 'ranga', 'aditya']

In [5]:
print(my_students[3:5])

['divya', 'srinivas']

In [6]:
# new set of students

students = ['nikita','syed','zakir','suresh','ashok','hema','venu','vinod']

print(students)

['nikita', 'syed', 'zakir', 'suresh', 'ashok', 'hema', 'venu', 'vinod']

In [7]:
# Req: alternative students to select from the list

#slicing with step count.

print(students[0:8:1])

['nikita', 'syed', 'zakir', 'suresh', 'ashok', 'hema', 'venu', 'vinod']

In [20]:
print(students[0:8:2])  # step count ---> condition

['nikita', 'zakir', 'ashok', 'venu']

In [ ]:
slicing --general index: --->start value:end value:step count

In [ ]:
#introduction to tuple Data type:

tuple is an immutable datatype 

"which can't be changed, modified or reassigned, it is an expensive operation"

how to define a touple --- {}

In [11]:
dimensions = (200,50)

print(dimensions)

(200, 50)

In [12]:
type(dimensions)

tuple

In [13]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [14]:
dimensions = (250,50)

print(dimensions)

(250, 50)

In [15]:
#Req: How to access the elements in tuple?

print(dimensions[1])

50

In [17]:
print(dimensions[0])

250

In [22]:
Employees = ['Bill','Mike','Rui',"Ranga",'Liam']

print(Employees[0:5])

['Bill', 'Mike', 'Rui', 'Ranga', 'Liam']

In [23]:
print(Employees[1:4])

['Mike', 'Rui', 'Ranga']

In [24]:
print(Employees[1:4:2])

['Mike', 'Ranga']

In [25]:
print(Employees[0:5:3])

['Bill', 'Ranga']

In [26]:
print(Employees[0:5:2])

['Bill', 'Rui', 'Liam']

In [27]:
dimensions = (250,50,200)

print(dimensions)

(250, 50, 200)

In [28]:
type(dimensions)

tuple

In [29]:
print(dimensions[0])

250

In [31]:
print(dimensions[2])

200

In [32]:
print(dimensions[0:3:2])

(250, 200)

In [33]:
print(list(range(2,51,2))) ## Print even numbers between given range

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [34]:
print(list(range(1,51,2)))  ## print odd numbers between range

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [36]:
age = int(input('Please enter your age '))

if age>=18:
    print('You are eligible to cast your vote.')
    
else: 
    print('You are ineligible to cast your vote this year, please try again later!')

Please enter your age 21
You are eligible to cast your vote

In [37]:
age = int(input('Please enter your age '))

if age>=18:
    print('You are eligible to cast your vote.')
    
else: 
    print('You are ineligible to cast your vote this year, please try again later!')

Please enter your age 15
You are ineligible to cast your vote this year, please try again later!

In [38]:
numbers = list(range(1,15))

for num in numbers:
    if num % 2 ==0:
        print(f"Even number {num}")

Even number 2
Even number 4
Even number 6
Even number 8
Even number 10
Even number 12
Even number 14

In [39]:
numbers = list(range(1,15))

for num in numbers:
    if num % 2 ==0:
        print(f"Even number {num}")
        
    elif num % 2 != 0:
        print(f"Odd number {num}")

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10
Odd number 11
Even number 12
Odd number 13
Even number 14

In [41]:
numbers = list(range(1,15))

for num in numbers:
    if num % 2 ==0:
        print(num, end =' ')

2 4 6 8 10 12 14